<h1> <%= @movie.name %></h1>
<div><p> GENRE: <%= @movie.genre %> </p>
<p>LANGUAGE: <%= @movie.language %>
</p></div>

<div class="col-md-8">
    <% if @movie.shows.any? %>
      <h3>Shows available (<%= @movie.shows.count %>)</h3>
      <ol class="shows">
        <%= render @shows %>
      </ol>
    <% end %>
  </div>
