<li id="show-<%= show.id %>">
  <span class="user"><%= link_to show.movie.name, show.movie%></span>
  <%= form_for(:show, url: '/bookshow') do |f| %>
    <%= f.submit "Book show", class: "btn btn-primary" %>
  <% end %>
  <span class="content"><%= show.GOLD_p %></span>
</li>
